/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-spacing: 0; border-collapse: collapse;}
* {box-sizing: border-box; outline: none;}
iframe {border:0;}

/* basic */
html {position: relative; min-height: 100%;}

body {font-size: 14px; color: #2d313f;}
body, input, textarea, button {font-family: 'Open Sans', sans-serif;}
input, textarea {font-size: 100%;}
textarea {height: 150px;}

h1 {margin-bottom: 1em; font-size: 26px; font-weight: 600;}
h2 {margin-bottom: 1em; font-size: 28px; font-weight: 600;}
h3 {margin-bottom: 1em; font-size: 16px; font-weight: 600;}

p {margin-bottom: 1.5em;}

sup {font-size: .6em; vertical-align: top; position: relative; top: -0.5em; }

/* globals */
.g-container {margin: 0 auto;}
.g-container-box {position: relative; margin: 0 30px;}
.g-clearfix:after {content: ""; display: block; clear: both; height: 0;}

/* layout */
header, footer, .body {padding: 30px;}
.body__inner {float: left; width: 70%; padding: 30px; border: 1px solid #000;}
aside {float: left; width: 30%; padding: 30px; border: 1px solid #000;}

/* menu */
.menu {display: flex;}
.menu__item {margin-left: 2em;}
.menu__item:first-child {margin-left: 0;}
.menu__item a {display: block;}
.menu__item_current a  {text-decoration: none;}

/* news */
.news__item {margin-bottom: 1em;}
